<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, @genders %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <% if @fams.empty? %>
    <div>No familes have been added</div>
  <% else %>
    <div class="field">
      <%= f.label :family_id %><br>
      <%= f.select :family_id, @fams %>
    </div>
  <% end %>
  <% unless @cabins.empty? %>
    <div class="field">
      <%= f.label :cabin_id %><br/>
      <%= f.select :cabin_id, @cabins %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :role_id %><br>
    <%= f.select :role_id, @roles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
