<h1>Listing people</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Family</th>
      <th>Cabing</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><%= person.lastname %></td>
        <td><%= person.firstname %></td>
        <td><%= person.gender %></td>
        <td><%= person.age %></td>
        <td><%= person.family.name %></td>
        <td>
        <% if person.cabin != nil %>
          <%= person.cabin.name %>
        <% else %>
          <div class="warning">Person needs to be added to a cabin</div>
        <% end %>
        </td>
        <td><%= person.role.title %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
