<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<p>
  <strong>Family:</strong>
  <%= @person.family.name %>
</p>

<p>
  <strong>Cabin:</strong>
  <% if @person.cabin != nil %>
    <%= @person.cabin.name %>
  <% else %>
    <%= @person.firstname %> was not added to a cabin
  <% end %>
</p>

<p>
  <strong>Role:</strong>
  <%= @person.role.title %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
