 <div class="col-xs-12">
  <%= link_to 'New Cabin', new_cabin_path, class: "btn btn-success" %>
</div>
<section class="col-xs-12 col-md-9">
    <h1>Listing cabins Cabins</h1>
       
        <ul class="list-group">
          <% unless @cabins.empty? %>
                <li class="row">
                    <span class="col-xs-2">Name</span>
                    <span class="col-xs-2">Available</span>
                    <span class="col-xs-2">Gender</span>
                    <span class="col-xs-2">Max</span>
                    <span class="col-xs-2">Number of Occupants</span>
                    <button class="btn btn-danger col-xs-2">Remove all Cabins</button>
                </li>
            <% end %>
           <% unless @cabins.empty?
                @cabins.each do |cabin| %>
                    <li class="list-group-item row">
                        <span class="col-xs-2"><%= cabin.name %></span>
                        <span class="col-xs-2"><%= cabin.available %></span>
                        <span class="col-xs-2"><%= cabin.gender %></span>
                        <span class="col-xs-2"><%= cabin.max %></span>
                        <span class="col-xs-2"><%= link_to cabin.people_count, controller: "cabins", action: "people", id: cabin %></span>
                        <span class="col-xs-2">
                            <%= link_to 'Show', cabin, class: "btn btn-info", type: "button" %>
                            <%= link_to 'Edit', edit_cabin_path(cabin), class: "btn btn-warning", type: "button" %>
                            <%= link_to 'Destroy', cabin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", type: "button" %></span>
                        </span>
                    </li>
            <%  end
            else %>
                <li class="list-group-item margin-offset-top-sm">No one is assigned to this cabin</li>
            <% end %>
        </ul>
    </section>
    <aside class="hidden-xs col-md-3">
       side content
    </aside>
</section>

