<h1>Listing cabins</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Available</th>
      <th>Gender</th>
      <th>Description</th>
      <th>Max</th>
      <th>Number of Occupants</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cabins.each do |cabin| %>
      <tr>
        <td><%= cabin.name %></td>
        <td><%= cabin.available %></td>
        <td><%= cabin.gender %></td>
        <td><%= cabin.description %></td>
        <td><%= cabin.max %></td>
        <td>
          <%= link_to cabin.people_count, controller: "cabins", action: "people", id: cabin %>
        </td>
        <td><%= link_to 'Show', cabin %></td>
        <td><%= link_to 'Edit', edit_cabin_path(cabin) %></td>
        <td><%= link_to 'Destroy', cabin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cabin', new_cabin_path %>
